.overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 12%;
    background: #3f3f3f; /* background */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  .overlay2 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: #3f3f3f; /* background */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
  
  .overlay button {
    padding: 10px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }

  .player {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    justify-content: space-between;
  }

  .controlButton{
    background-color: #d3d3d3!important;
    border-radius: 60px;
    height: 50px!important;
    width: 50px!important;
    appearance: none;
    border: none;
    margin-right: 10px;

  }

  .player img{
    height: 60px;
    width: 60px;
    border-radius: 5px;
  }

  .playInfo{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 10px;
    margin-right: 10px;
  }
  

  .closeButton {
    position: absolute;
    top: 90px;
    left: 10px;
    display: none;
  }
  .playerGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 400px;
  }

.playerButton{
  display: flex;
  align-items: center;
  gap: 20px;

}
.seekBar {
  width: 250px;

}

  .timeStamp {
    color: rgb(228, 228, 228);
  }



  .playButton {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .overlay button{
    background-color: #E086D3;
    border-radius: 60px;
    height: 60px;
    width: 60px;
  }
  

  .playingTitle {
    color: #FFFFFF;
    margin: 90px 0 2px 0;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }

  .playingArtist {
    font-size: 20px;
    color: rgb(188, 188, 188);
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }
  .playInfoGroup {
    display: flex;
    align-items: center;
  }

  body {
    padding-top: 60px;
    margin: 10px;
    background-color: #141414;
    color: #e6e6e6;
    font-family: 'SF Pro';
  }

  .nav{
    position: fixed;
    background-color: #141414;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px ;
    z-index: 1;
  }
  .navContent {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .logoName{
    font-weight: 200;
    margin-right: 25px;
  }

  .logoName span{
    font-weight: 500;
    color: #E086D3;
  }

  .searchBar {
    appearance: none;
    background-color: #282828;
    color: #939393;
    border: none;
    font-family: 'SF Pro';
    padding: 12px 30px 12px 20px;
    border: #202020;
    width: 200px;
    text-align: left;
    border-radius: 10px;
    margin-right: 10px;
  }

  .searchButton{
    appearance: none;
    background-color: #E086D3;
    color: #141414;
    border: none;
    font-family: 'SF Pro';
    font-weight: 600;
    padding: 12px 20px 12px 20px;
    border-radius: 10px;
    margin-right: 50px; 
  }
  
  .musicArray {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 110px;
  }

  .musicArray li {
    display: flex;
    flex-direction: column;
  }

  .musicTitle{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 5px;
  }


  .musicArtist {
    font-size: 12px;
    font-weight:200;
    text-overflow: clip;
  }

  .listThumbnail {
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .musicInfo{
    display: flex;
    flex-direction: column;
  }

  .belowThumbnail {
    display: flex;
    max-width: 200px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .addQueueButton {
    appearance: none;
    background-color: #E086D3;
    color: #141414;
    border: none;
    
    width: 28px;
    height: 28px;
    padding: 5px 1px;
    border-radius: 10px;
  }
  .addMusicForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:2rem;

  }

.sections {
  display: flex;
  flex-direction: row;

}

.leftPanel {
  width: 70%;
  z-index: 0;
}

.rightPanel {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #1e1e1e;
  z-index: 0;
  
}
