.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./bg.jpg'); /* background */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .overlay button {
    padding: 10px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
  }

  .player {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .playerGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 400px;
  }

  .playerButton button {
    margin: 20px 200px 20px 200px;
  }

  .timeStamp {
    color: rgb(228, 228, 228);
  }

  .thumbnail {
    border-radius: 10px;
    max-width: 300px;
    max-height: 300px;
  }

  .playButton {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .overlay button{
    background-color: #F4D35E;
    border-radius: 60px;
    height: 60px;
    width: 60px;
  }
  

  .playingTitle {
    color: #FFFFFF;
    margin: 90px 0 2px 0;
  }

  .playingArtist {
    font-size: 20px;
    color: white;
  }


  body {
    padding-top: 60px;
    margin: 20px;
    background-color: #141414;
    color: #e6e6e6;
    font-family: 'SF Pro';
  }

  .nav{
    position: fixed;
    background-color: #141414;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px ;
  }
  .navContent {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .logoName{
    font-weight: 200;
    margin-right: 25px;
  }

  .logoName span{
    font-weight: 500;
    color: #ffb703;
  }

  .searchBar {
    appearance: none;
    background-color: #282828;
    color: #939393;
    border: none;
    font-family: 'SF Pro';
    padding: 12px 30px 12px 20px;
    border: #202020;
    width: 200px;
    text-align: left;
    border-radius: 10px;
    margin-right: 10px;
  }

  .searchButton{
    appearance: none;
    background-color: #ffb703;
    color: #141414;
    border: none;
    font-family: 'SF Pro';
    font-weight: 600;
    padding: 12px 20px 12px 20px;
    border-radius: 10px;
    margin-right: 50px; 
    

    

  }
  
  